rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for the 'subscribers' collection
    match /subscribers/{subscriptionId} {
      allow create: if request.auth == null; // Allow unauthenticated users to create subscriptions
      allow read: if false; // Disallow reading subscriptions by default
      allow update: if false; // Disallow updating subscriptions by default
      allow delete: if false; // Disallow deleting subscriptions by default
    }

    // Rules for the 'estimateRequests' collection
    match /estimateRequests/{requestId} {
      allow create: if request.auth == null; // Allow unauthenticated users to create estimate requests
      allow read: if false; // Disallow reading estimate requests by default
      allow update: if false; // Disallow updating estimate requests by default
      allow delete: if false; // Disallow deleting estimate requests by default
    }
  }
}