
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)));
  min-height: 100dvh;
  min-width: 100%;
    overflow-x: hidden;
}

a, button, input, [tabindex] {
  -webkit-tap-highlight-color: transparent; /* Prevents the default tap highlight color on links and buttons */
}

h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body .grecaptcha-badge {
  position: fixed !important;
  bottom: 100px !important;
  margin-right: -250px !important;
    z-index: 1 !important;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

body .grecaptcha-badge:hover {
  opacity: 1;
  /* Make fully opaque on hover */
}