@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb)))
}

h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body .grecaptcha-badge {
  position: fixed !important;
  /* Crucial for positioning relative to the viewport */
  bottom: 100px !important;
  /* Adjust vertical position (e.g., 20px from the bottom) */
  right: 20px;
  /* Adjust horizontal position (e.g., 20px from the right) */
  z-index: 1000;
  /* Ensure it's on top of other elements */

  /* Optional styling */
  opacity: 0.5;
  /* Make slightly transparent */
  transition: opacity 0.3s ease;
  /* Add a smooth transition for hover effect */
}

body .grecaptcha-badge:hover {
  opacity: 1;
  /* Make fully opaque on hover */
}